body {
	width: 100%;
	margin: 0;
}

.issue {
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(1.0, rgb(160,160,160)),
	    color-stop(0.0, rgb(255,255,255))
	);
	padding: 5px;
	height: 40px;
	overflow: hidden;
}

.overdue {
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(1.0, rgb(160,00,00)),
	    color-stop(0.0, rgb(255,80,80))
	);
	font-weight: bold;
	color: #FFF;
	padding: 5px;
}

.priority-immediate {
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(1.0, rgb(160,140,40)),
	    color-stop(0.0, rgb(255,240,80))
	);
	color: #FFF;
}

.priority-urgent {
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(1.0, rgb(160,35,00)),
	    color-stop(0.0, rgb(255,70,0))
	);
	color: #FFF;
}

.project {
	display: inline-block;
	opacity: 0.5;
	padding-right: 10px;
}

.summary {
	display: inline-block;
}

.overdue a {
	color: #FFF;
}

a {
	color: #000;
}